@font-face {
    font-family: "Retro Gaming";
    src: url(../font/Retro\ Gaming.ttf) format("truetype");
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    font-family: "Retro Gaming";
    background-color: rgb(85, 85, 85);
    color: #fff;
    text-align: center;
    margin:0;
    overflow:hidden;
}

#myCanvas {
    background-color: rgb(34, 34, 34) ;
}